<h1>Angular Datatable</h1>
<div>Post ID: {{postID}}</div>
<table id="example" cellspacing="0" class="row-border hover">
  <thead>
    <tr>
      <th>Sr No.</th>
      <th>Edit</th>
      <th>Email Template</th>
      <th>Email Subject</th>
      <th>From Email</th>
      <th>Type of User</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
    <tr>
      <td>name</td>
      <td>titles</td>
      <td>body</td>
      <td>test</td>
      <td>example@gmail.com</td>
      <td>patient</td>
      <td>ACTIVE</td>
    </tr>
  </tbody>
</table>
